<!DOCTYPE html>
<html>
<head>
	<title>The date is</title>
</head>
<body>
  
 <p> the date is <% days = [Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday] %> <% months = [January, February, March, April, May, June, July, August, September, October, November, December] %> <% currentTime = Time.now %><%= days[currentTime.wday]

</body>
</html>